body {
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/* 메뉴 바 */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.navbar__logo {
    font-size: 26px;
}

.navbar__logo i {
    color: red;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    font-size: 20px;
    padding : 8px 15px;
}

.navbar__links {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.navbar__links li {
    font-size: 12px;
    padding: 8px 10px;
}

/* 자유게시판 */
.board {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 20px;
    /* border: double 1px #a7a4a4; */
    border-radius: 10px;
    /* align-content: center; */    
    /* justify-content: center; */
}

.board__list {
    border-collapse: collapse;
    background-color: white;
}

.board__header {
    border-top: solid 1px #444444;
    border-bottom: solid 1px #444444;
}

.board__header th {
    background-color: #e9e9e9;
    height: 24px;
    padding : 10px 20px;
    font-size: 16px;
    color: black;
    opacity: 0.8;
}

.board__body tr {
    font-size: 14px;
    border-bottom: double 1px #a7a4a4;
    opacity: 0.8;
}

.board__body tr:hover {
    background-color: #f0f0f0;
}

.board__body td {
    height: 50px;
    padding: 10px 0;
    font-size: 18px;
    white-space: nowrap;
}

.board__body .title {
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
}

.board__body .index, .creater, .created, .hit {
    width: 10%;
}

.board__body .index, .creater, .created, .hit {
    text-align: center;
}

.board__body a {
    text-decoration: none;
    color: black;
}

.board__button_write {
    width: 80px;
    height: 30px;
    font-size: 14px;
    text-decoration: none;
    color : white;
    background-color: green;
    opacity: 0.8;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
}

.board__page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.board__page a {
    width:20px;
    height:20px;
    text-align: center;
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin: 0px 3px;
    padding: 2px;
}

.board__page a:hover {
    background-color: #cccbcb;
    border-radius: 50px;
}

/* .board__page a.now-page {
    color: snow;
    background-color: #6e6e6e;
    border-radius: 50px;
} */