/* 회원가입 폼 */
.sign-up {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: ghostwhite;
    margin: 50px auto 0px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    
}

.header {
    text-align: center;
    margin: 40px 0px 10px;
}

.form__input {
    height: 20px;
    margin: 0px 30px;
    text-align: center;
}

.form__text {
    color: grey;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 30px;
}

.form__text.email-rule {
    visibility: hidden;
    color: red;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 0;
}

.form__text.confirm-password {
    visibility: hidden;
    color: red;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 0;
}

.form__button {
    height: 40px;
    margin: 30px;
    color: azure;
    font-size: 16px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 20px;
}
