body {
    margin: 0;
    background-color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.navbar a {
    text-decoration: none;
    color: white;
}

/* 메뉴 바 */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.navbar__logo {
    font-size: 26px;
}

.navbar__logo i {
    color: red;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    font-size: 20px;
    padding : 8px 15px;
}

.navbar__links {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.navbar__links li {
    font-size: 12px;
    padding: 8px 10px;
}

/* 로그인 폼 */
.sign-in {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: ghostwhite;
    margin: 50px auto 0px;
}

.form {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    margin: 40px 0px;
}

.form__input {
    height: 20px;
    margin: 0px 30px;
    text-align: center;
}

.form__text {
    color: grey;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 30px;
}

.form__text.email-rule {
    visibility: hidden;
    color: red;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 0;
}

.form__button {
    height: 40px;
    margin: 30px;
    color: azure;
    font-size: 16px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 20px;
}

.form__button_forgot {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 12px;
    text-align: end;
    margin-top: 5px;
    margin-left: 140px;
    margin-right: 30px;
    white-space: nowrap;
}

.form__button_forgot:hover {
    font-weight: bold;
}

/* 비밀번호 찾기 팝업창 */

.popup {
    display: none;
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -200px;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100;
}

.popup form {
    background-color: white;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.popup p {
    font-size: 18px;
    margin-bottom: 30px;
    color: black;
    opacity: 0.8;
}

.popup__input {
    width: 260px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: double 2px #444444;
    font-size: 16px;
    color: black;
    opacity: 0.7;
    text-align: center;
}

.popup__input:focus {
    outline: none;
    border: solid 2px cornflowerblue;
    border-radius: 30px;
}

.popup__button.submit{
    width: 260px;
    height: 35px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    background-color: cornflowerblue;
    color: white;
    margin-bottom: 20px;
}

.popup__button.submit:hover{
    outline: none;
    width: 270px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    /* visibility: h; */
}

.popup__button.cancel {
    width: 60px;
    height: 25px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    background-color: #d8d8d8;
    color: #444444;
}