body {
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/* 메뉴 바 */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.navbar__logo {
    font-size: 26px;
}

.navbar__logo i {
    color: red;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    font-size: 20px;
    padding : 8px 15px;
}

.navbar__links {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.navbar__links li {
    font-size: 12px;
    padding: 8px 10px;
}


/* 게시글 보기 */

.post {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    /* align-items: center; */
    width: 800px;
    border: double 1px #a7a4a4;
    border-radius: 10px;
}

.post__header {
    margin: 20px 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: double 1px #444444;
}

.post__link_board {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: green;
    opacity: 0.5;
}

.post__information span {
    display: block;
    color: #444444;
    opacity: 0.9;
}

.post__information {
    font-size: 12px;
}

.post__contents {
    margin: 0 30px 20px 30px;
    padding: 10px 20px;
    /* height: 300px; */
}

.post__contents textarea {
    width: 100%;
    height: 350px;
    border: none;
    resize: none;
    font-size: 13px;
    color: black;
    opacity: 0.6;
}



